@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';

$theme-colors: (
  primary1-900: #3c1003,
  primary1-800: #784539,
  primary1-700: #986154,
  primary1-600: #b87e70,
  primary1-500: #c6988d,
  primary1-400: #d4b2a9,
  primary1-300: #e3cbc6,
  primary1-200: #f1e5e2,
  primary1-100: #f8f2f1,
  primary2-900: #42324c,
  primary2-800: #624b72,
  primary2-700: #836498,
  primary2-600: #a47dbe,
  primary2-500: #b697cb,
  primary2-400: #c8b1d8,
  primary2-300: #dbcbe5,
  primary2-200: #dbcbe5,
  primary2-100: #f6f2f9,
  primary3-900: #5b4941,
  primary3-800: #886d62,
  primary3-700: #b69282,
  primary3-600: #e3b6a3,
  primary3-500: #e9c5b5,
  primary3-400: #eed3c8,
  primary3-300: #f4e2da,
  primary3-200: #f9f0ed,
  primary3-100: #fcf8f6,
  neutral-900: #292d32,
  neutral-800: #444b54,
  neutral-700: #6d7786,
  neutral-600: #8895a7,
  neutral-500: #a0aab9,
  neutral-400: #b8c4ce,
  neutral-300: #cfd6de,
  neutral-200: #e1e7ec,
  neutral-100: #f8f9fa,
  accent1-900: #491219,
  accent1-800: #6e1c25,
  accent1-700: #922532,
  accent1-600: #b72e3e,
  accent1-500: #c55865,
  accent1-400: #d4828b,
  accent1-300: #e2abb2,
  accent1-200: #f1d5d8,
  accent1-100: #f8eaec,
  accent2-900: #12402c,
  accent2-800: #1a5f41,
  accent2-700: #237f57,
  accent2-600: #2c9f6d,
  accent2-500: #56b28a,
  accent2-400: #80c5a7,
  accent2-300: #abd9c5,
  accent2-200: #d5ece2,
  accent2-100: #eaf5f0,
  accent3-900: #263857,
  accent3-800: #385482,
  accent3-700: #4b70ae,
  accent3-600: #5e8cd9,
  accent3-500: #7ea3e1,
  accent3-400: #9ebae8,
  accent3-300: #bfd1f0,
  accent3-200: #dfe8f7,
  accent3-100: #eff4fb,
  accent4-900: #625128,
  accent4-800: #92793c,
  accent4-700: #c3a250,
  accent4-600: #f4ca64,
  accent4-500: #f6d583,
  accent4-400: #f8dfa2,
  accent4-300: #fbeac1,
  accent4-200: #fdf4e0,
  accent4-100: #fefaf0
);

@import 'bootstrap';
